<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Rendez-vous Médical</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="/calendrier/">Calendrier</a></li>
                <li class="nav-item"><a class="nav-link" href="/mes_rdv/">Mes RDV</a></li>
                <li class="nav-item"><a class="nav-link" href="/inscription/">S'inscrire</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        <!-- Contenu de la page ici -->
        {% endblock %}
    </div>
</body>
</html>
